extends layout
include mixins

block params
	- headTitle = title
	-
		const mixinsHash = {
			frame: 'renderFrame',
			headphone: 'headphoneHash'
		};

block body
	.row.form-menu.form-border
		each good in goods
			.col-md-3
				.card.mb-4.shadow-sm
					if good.image
						img.card-img-top(src=`/uploads/${good.image.name}`)
					.card-body
						h5.card-title= good.name
						p.text-muted= good.description
						+renderGood(good)
