.form-signin {
	padding: 15px;
	border-style: groove;
	max-width: 600;
}
.form-menu {
	padding: 25px;
	margin-right: 20;
	margin-left: 20;
	max-width: medium;
}
.form-border{
	padding: 0;
	margin-right: 10;
	margin-left: 10;
	margin-top: 15;
	max-width: 1267px;
}
.form-lines{
	line-height: 0.9em;
	font-size: 13;
}