body {
	font-family: Verdana;
}
.messages-container {
	height: 350px;
	border: 1px solid #DDD;
	position: relative;
}

.messages {
	box-sizing: border-box;
	padding: 20px;
	overflow: auto;
	height: 348px;
}

.username {
	font-weight: bold;
	color: orange;
}


.add-message {
	margin-top: 20px;
}
